Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select Kernel$\rightarrow$Restart) and then **run all cells** (in the menubar, select Cell$\rightarrow$Run All).

Make sure you fill in any place that says `YOUR CODE HERE` (you should of course delete `raise NotImplementedError()` which is there only as reminder), while not modifying the other cells (but you should run them to check the output you obtain). Please also fill in your group number, your full names, and your VU IDs below:

In [1]:
STUDENT_FIRST_NAME = "Thu Trang" # e.g. "John" (no "J", no "J.", no "John S.M.")
STUDENT_LAST_NAME = "Luu"  # e.g. "Smith"
VU_ID_NUM = "2695303"          # e.g. "2789012"

---

# Assignment 2
The goal of this assignment is to make you familiar with the `NumPy` and `pandas` libraries. Both libraries are crucial in data science, since they provide many useful functions and objects to manipulate matrices and tables. 

This assignment is divided into 5 exercises, which are worth different amount of points (total is 100 points). The first exercise specifically tests your knowledge of `NumPy` and follows the same style as the questions for assignment 1. 
The last four exercise are related to `pandas`, where we ask you to implement several functions for each exercise. **The input and desired output are described in the provided function docstrings.**

We assume that the folder that you work in is the one obtained by unzipping the given ``A2.zip`` file and thus has the following structure.


```
assignment02.ipynb
data/
    babynames/...
    covid/...
    movielens/...
    bingo/...
    names2000_2021.csv
    philips_hue.csv
```

## Important remarks
- **Working together**: You are meant to work individually on the first three assignments. You can, of course, brainstorm ideas and discuss issues with your fellow students, but you are required to write your solutions individually. 
- **Plagiarism**: All your code will be automatically scanned for plagiarism. Furthermore, using the internet as a passive resource is allowed. This means that you can search for help there and partially copy code, as long as you explicitly acknowledge inside your Jupyter notebook which parts have been copied and from where. 
- **Performance**: You should optimize the computational performance of your functions. Specifically, when grading the assignments, we set a hard limit of 15 seconds for each cell execution. This should be sufficient to cover each of the test cases. Function calls that take longer than 15 seconds will not be awarded any points.
- **Code styling**: Your implementation will not be checked for style. However, we do encourage you to practice good code styling. See, for example, https://docs.python-guide.org/writing/style/.
- **Chronological run**: All outputs should be repeatable by doing one full “chronological” run of the notebook without any manual changes to code blocks, including parameters. (try it yourself by clicking ``Kernel -> Restart and run all``, which should give the result as handed in).
- **Handing in**: Hand in the .ipynb file of your notebook on ``Canvas`` before the assignment deadline. 
- **Other questions**: If you have doubts/questions about the assignments, feel free to ask them in [this discussion thread](https://canvas.vu.nl/courses/60060/discussion_topics/528047) so that everyone can will be able to see them and our answers.

In [2]:
import random
import numpy as np
import pandas as pd

from numpy.testing import assert_equal, assert_almost_equal
from pandas.testing import assert_frame_equal

# Bingo (20 points)

## Part A (10 points)

Bingo is played on a set of boards each consisting of a `5x5` grid of numbers. Numbers are chosen at random between `0` and `99` (including), and the chosen number is marked on all boards on which it appears. (Numbers may not appear on all boards.) If all numbers in any row or any column of a board are marked, that board wins. (Diagonals don't count.)

The file in input contains first a sequence of randomly drawn numbers (without repetition) and a random set of boards. For example:

```
7,4,9,5,11,17,23,2,0,14,21,24,10,16,13,6,15,25,12,22,18,20,8,19,3,26,1

22 13 17 11  0
 8  2 23  4 24
21  9 14 16  7
 6 10  3 18  5
 1 12 20 15 19

 3 15  0  2 22
 9 18 13 17  5
19  8  7 25 23
20 11 10 24  4
14 21 16 12  6

14 21 17 24  4
10 16 15  9 19
18  8 23 26 20
22 11 13  6  5
 2  0 12  3  7
```

After the first eleven numbers are drawn (7, 4, 9, 5, 11, 17, 23, 2, 0, 14, and 21), there are no winners. Finally, 24 is drawn and the third board wins because it has at least one complete row or column of marked numbers (in this case, the entire top row is marked: 14 21 17 24 4).

The score of the winning board can now be calculated. Start by finding the sum of all unmarked numbers on that board; in this case, the sum is ``188``. Then, multiply that sum by the number that was just called when the board won, ``24``, to get the final score, ``188 * 24 = 4512``.

Write the function ``bingo_first`` that finds which board wins first given a specific input file and outputs only the corresponding score (as an ``int``) calculated as detailed above.

In [301]:
def bingo_first(filename):
    # read file
    with open(filename, 'r') as f:
        f_list = f.read().splitlines()

    for i in f_list:
        if i == '':
            f_list.remove(i)
            
    drawn_numbers = [int(x) for x in f_list[0].strip().split(',')]
    
    list_boards = f_list[1:]
    for i in range(len(list_boards)):
        list_boards[i] = [int(x) for x in list_boards[i].split()]

    no_boards = int(len(list_boards)/5)
    print(no_boards)
    
    boards = np.zeros((no_boards,5,5),dtype = int)
    
    j = 0
    for i in range(0,len(list_boards),5):
        boards[j,:] = np.mat(list_boards[i:i+5])
        j+=1
    
    bingo = False
    first_bingo = None
    bingo_dict = dict.fromkeys(range(0,no_boards),0)
    temp = np.zeros((5,5),dtype = int)
    
#     while bingo != True:
    flag = False
    bingo_num = None
    for j in drawn_numbers:
        for i in range(len(boards)):
            for r in range(5):
                if flag:
                    flag = False
                    break
                for c in range(5):
                    if temp[r,:].sum() == 5 or temp[:,c].sum() == 5:
                        bingo_dict[i] = 1
                        bingo_num = j
                        print(temp)
                        print(boards[i])
                        flag = True
                        temp.fill(0)
                        break
                    elif boards[i][r,c] == j:
                        temp[r,c] = 1
            continue
    
    print(bingo_dict, bingo_num)

    
    
    # while loop
    # 2 for loops for 
    # how many boards
    # define numpy zeros 5,5
    # steps till bingo

In [302]:
bingo_first('data/bingo/bingo_input0.txt')

100
[[1 1 0 1 1]
 [1 1 0 1 0]
 [0 0 1 0 0]
 [0 1 1 1 1]
 [1 1 1 1 1]]
[[12  2 41 69 24]
 [93 95 43 52 66]
 [71 92 57 14 58]
 [30 25 81 62 79]
 [ 7 96 70 22 42]]
[[0 0 0 0 1]
 [0 1 0 0 1]
 [0 0 0 1 0]
 [1 0 1 0 1]
 [1 1 1 1 1]]
[[72 46 35  9 53]
 [70 67 74 93 55]
 [24  4 30 38 47]
 [29 96 51 17 71]
 [90  5 69 54 61]]
[[0 0 0 1 0]
 [0 1 1 1 0]
 [1 0 0 1 0]
 [0 0 0 1 0]
 [1 1 1 1 0]]
[[44 59 87 16 18]
 [31 50 27  9 38]
 [49 10 56 69 35]
 [13 24 91 46 70]
 [22 37  6 43 25]]
[[0 1 1 0 1]
 [0 0 1 0 1]
 [0 0 1 0 1]
 [1 1 0 1 1]
 [0 1 0 1 1]]
[[24 66 62 30 83]
 [72 80 54 25 17]
 [ 3 77 60 68 36]
 [26 22  8 74 95]
 [63 39  4 53 87]]
[[1 1 1 1 1]
 [1 1 1 1 0]
 [1 1 0 0 0]
 [0 1 1 1 1]
 [0 0 0 0 1]]
[[96 20  7 81 11]
 [42 17 14 44 36]
 [99 98 68 58 56]
 [15 57 80  3 67]
 [61 66 38 83 59]]
[[1 0 0 1 1]
 [1 1 0 0 0]
 [1 0 0 0 0]
 [1 1 1 0 0]
 [1 1 0 0 0]]
[[56 20 35 71 23]
 [51 21 96 42 64]
 [83  1  8 94 55]
 [44 73 76 24 67]
 [81 70  6 61 46]]
[[1 1 0 0 1]
 [1 1 0 0 0]
 [0 1 0 1 0]
 [1 1 0 1 1]
 [1 1 0 1 0]]
[[40 30  7 72 22]
 [68 94 95 89 42]
 [91 84 11 49 36]
 [64 29 26 73 76]
 [37  1 51  9 25]]
[[0 1 1 1 0]
 [1 0 1 1 1]
 [1 1 1 0 1]
 [0 1 1 1 1]
 [1 1 1 0 1]]
[[35 50 95 53 16]
 [75  1 85 31 81]
 [99 22 27 84 38]
 [98  8 19 25 92]
 [56 59 62 48 54]]
[[1 0 0 0 0]
 [1 1 1 1 0]
 [1 1 0 1 1]
 [1 1 1 0 1]
 [1 0 0 0 1]]
[[58 60 77 25 22]
 [93 97 49  2 41]
 [59 38 95 36 44]
 [30 79 69 54 86]
 [23  4 80 85 27]]
[[1 1 1 1 1]
 [1 0 0 1 1]
 [1 1 1 0 0]
 [1 0 0 0 0]
 [0 0 1 1 1]]
[[40 30  7 72 22]
 [68 94 95 89 42]
 [91 84 11 49 36]
 [64 29 26 73 76]
 [37  1 51  9 25]]
[[1 0 1 1 1]
 [1 1 0 1 1]
 [1 0 0 0 1]
 [1 0 1 1 1]
 [0 0 1 1 1]]
[[51 31 27 28 95]
 [16 50 36 13 57]
 [ 1 11 79 45 90]
 [41 77  3 78 42]
 [56 74 85 44 52]]
[[0 0 1 0 0]
 [1 1 1 1 1]
 [0 1 0 0 1]
 [1 1 1 0 1]
 [1 1 0 1 1]]
[[87 79 59 26 35]
 [81 73 36 66 51]
 [97 11 43 17  7]
 [24 94 71 91 48]
 [12 77 93 55 34]]
[[1 1 1 1 1]
 [0 1 1 1 0]
 [0 1 1 1 0]
 [1 1 0 1 1]
 [1 1 1 0 1]]
[[86 52 95 73  6]
 [56 45  8 13 80]
 [28 77 19 59 48]
 [99 33 47 10 85]
 [35 81 27 46 76]]
[[0 0 1 1 1]
 [0 0 1 0 1]
 [1 0 1 0 0]
 [0 1 1 1 1]
 [0 1 1 1 0]]
[[49 96 48  2 78]
 [14 21 38 98 45]
 [30 34 54 16 92]
 [ 0 89 70 68 57]
 [ 7 74 10 86 97]]
[[0 1 0 0 0]
 [0 1 1 1 1]
 [1 1 1 1 1]
 [0 0 1 0 1]
 [1 0 1 1 0]]
[[99 11 53 82  3]
 [88 74 42 38 13]
 [94 80 27 92 34]
 [29 56  8 14 76]
 [85 65 66 79 59]]
[[1 0 1 1 1]
 [1 0 1 1 0]
 [1 1 0 0 1]
 [1 1 1 1 1]
 [0 0 0 0 1]]
[[26  9 84 35 59]
 [44 47 66  8 48]
 [ 0 82 68 54 58]
 [65  7 28 62 61]
 [55 37 21 72 86]]
[[0 1 0 1 0]
 [0 1 1 0 1]
 [1 0 0 0 0]
 [1 0 1 0 1]
 [1 1 1 1 1]]
[[40 30  7 72 22]
 [68 94 95 89 42]
 [91 84 11 49 36]
 [64 29 26 73 76]
 [37  1 51  9 25]]
[[1 1 1 1 1]
 [1 0 0 1 0]
 [0 1 1 1 1]
 [1 0 0 1 1]
 [1 1 0 0 0]]
[[26  9 84 35 59]
 [44 47 66  8 48]
 [ 0 82 68 54 58]
 [65  7 28 62 61]
 [55 37 21 72 86]]
[[0 1 1 0 1]
 [0 0 1 1 1]
 [1 1 1 0 1]
 [1 0 1 1 0]
 [1 0 1 1 0]]
[[25 12 32 53  3]
 [63 29 92 70 97]
 [54  6 21  4 86]
 [76 39 84 49 96]
 [68  0 15 72 28]]
[[1 0 1 1 1]
 [1 0 1 0 0]
 [1 1 1 1 0]
 [1 1 0 1 1]
 [1 1 0 1 1]]
[[24  9  5 38 52]
 [32 57 87 30 90]
 [ 7 54 39 43 14]
 [31 76 96 65  0]
 [51 99 20 61 92]]
[[1 1 1 0 0]
 [0 1 0 0 0]
 [1 0 0 1 1]
 [1 1 1 1 1]
 [0 0 1 1 1]]
[[ 2 53 74  9 64]
 [24  8 85 86 59]
 [41 38 57 63 32]
 [88 93 14 11 55]
 [69 31 25 66 52]]
[[0 1 1 1 0]
 [1 1 0 1 1]
 [1 1 1 1 1]
 [0 0 0 0 0]
 [0 1 0 0 1]]
[[68 32 38 58 24]
 [61 11 76 55 39]
 [ 6 21 31 93 99]
 [64 75 15 62 56]
 [34 12 14 73 77]]
[[0 0 1 1 1]
 [1 1 1 0 1]
 [0 0 1 0 1]
 [1 0 0 1 1]
 [0 1 1 1 1]]
[[60 92 94  2 84]
 [73 69 72 29 37]
 [50 74 56 58  6]
 [51 80 86 33  4]
 [32 24 20  7 78]]
[[0 0 1 0 1]
 [0 1 1 0 0]
 [0 1 1 1 1]
 [0 0 0 1 0]
 [1 1 1 1 1]]
[[61 32 13 42 90]
 [81 22 66 75 51]
 [46  1 41  9 34]
 [86 50 48 64 74]
 [72 85 97 11 71]]
[[1 0 1 1 1]
 [1 0 1 0 1]
 [1 0 0 1 1]
 [0 0 0 1 1]
 [0 1 1 0 1]]
[[26 10 29 27 90]
 [21 65 44  5  1]
 [42 51 35 11 98]
 [72 23 41 95 48]
 [40 97 99 92  2]]
[[1 1 0 1 1]
 [1 1 1 1 1]
 [1 1 0 1 1]
 [0 0 1 1 0]
 [1 0 0 0 1]]
[[43 19 88 81 12]
 [ 4 48  9 91 31]
 [ 1 46 10  6 56]
 [72 41 30 36 94]
 [61 83 86 28 79]]
[[0 0 1 0 1]
 [1 1 0 0 1]
 [1 1 0 0 0]
 [1 1 1 1 1]
 [0 1 1 1 1]]
[[16 32 41 37 61]
 [14 31 29  6 79]
 [28 97 11 15  9]
 [13 72  3 85 64]
 [81 95 20 77 69]]
[[0 1 1 1 0]
 [0 0 1 1 1]
 [1 0 1 1 1]
 [1 1 1 0 0]
 [1 1 1 1 1]]
[[23 53 82 22 74]
 [ 5 45 15 44 65]
 [62 84 68 83 88]
 [52 46 61 77 59]
 [56 60 71  2 43]]
[[1 0 0 0 0]
 [1 1 0 0 1]
 [1 1 1 1 0]
 [1 0 1 1 1]
 [1 0 0 0 0]]
[[72 85  4 39 29]
 [86  0 95 30 21]
 [11 51  2 99 38]
 [58 52 25 59 77]
 [69 74 37 87 32]]
[[0 1 1 1 1]
 [1 1 1 1 1]
 [0 0 0 1 1]
 [0 0 1 0 1]
 [0 0 0 1 0]]
[[ 2 53 74  9 64]
 [24  8 85 86 59]
 [41 38 57 63 32]
 [88 93 14 11 55]
 [69 31 25 66 52]]
[[1 0 0 0 1]
 [0 0 1 0 1]
 [0 0 1 1 0]
 [0 1 0 0 0]
 [1 1 1 1 1]]
[[16 71 12 76 86]
 [78 26 15 34 45]
 [17 22 20  8  1]
 [51 52 24 90 79]
 [53 40 14 69 21]]
[[1 1 1 1 1]
 [0 1 1 0 0]
 [1 0 1 1 0]
 [0 0 0 0 1]
 [1 0 0 1 0]]
[[53 41 29 77 58]
 [98 83 86 14 94]
 [10 99 24 17 32]
 [ 3 87 42 19 61]
 [57 89 36 13  9]]
[[0 1 1 1 0]
 [1 0 1 0 0]
 [1 1 1 1 1]
 [1 1 0 1 1]
 [0 1 1 1 1]]
[[60 92 94  2 84]
 [73 69 72 29 37]
 [50 74 56 58  6]
 [51 80 86 33  4]
 [32 24 20  7 78]]
[[1 1 1 1 1]
 [1 0 1 1 0]
 [0 0 0 1 1]
 [1 1 0 0 0]
 [1 1 1 0 0]]
[[47 25 76 89 61]
 [86 77 71 43 22]
 [42 18 70 24 98]
 [31 68 62 79  9]
 [17 10 78 16 84]]
[[1 1 1 1 0]
 [1 1 1 0 1]
 [0 0 0 0 1]
 [1 1 1 1 1]
 [0 1 0 1 1]]
[[23 53 82 22 74]
 [ 5 45 15 44 65]
 [62 84 68 83 88]
 [52 46 61 77 59]
 [56 60 71  2 43]]
[[1 1 1 1 0]
 [1 1 1 1 0]
 [0 1 0 0 1]
 [1 1 1 0 1]
 [0 1 1 1 0]]
[[85 37 30 39 97]
 [36 14 71 59 15]
 [46 26 27 25  9]
 [ 6 56 79 52 67]
 [72 54 58 74 76]]
[[0 0 0 1 1]
 [1 1 1 1 1]
 [0 0 0 0 0]
 [0 0 1 1 0]
 [0 0 0 0 0]]
[[53 41 29 77 58]
 [98 83 86 14 94]
 [10 99 24 17 32]
 [ 3 87 42 19 61]
 [57 89 36 13  9]]
[[0 0 1 1 1]
 [1 0 0 1 1]
 [0 0 0 1 1]
 [1 1 0 0 0]
 [1 1 1 1 1]]
[[27 67 68 46 41]
 [93  4 96 49 23]
 [11 54 80 88 75]
 [69 34 44 12 37]
 [39 78 66  5 43]]
[[1 1 0 1 1]
 [1 1 0 0 1]
 [1 1 0 1 1]
 [0 0 1 1 1]
 [1 0 1 0 1]]
[[ 3 60 25 55 17]
 [42 45 66 24 14]
 [13 16 41 11 88]
 [89 96 97 35  1]
 [83  5 52 69 28]]
[[0 1 1 0 0]
 [1 1 1 1 1]
 [1 0 1 0 1]
 [1 1 1 1 0]
 [0 1 0 0 1]]
[[25 29 78 57 69]
 [47 51  7 21 82]
 [61 81 99 53 30]
 [50 80 41 94 46]
 [ 9 37 48 71 91]]
[[0 0 0 0 0]
 [1 1 1 1 1]
 [0 1 0 0 0]
 [1 0 1 1 1]
 [0 1 0 0 0]]
[[ 8 22 67 70 91]
 [73 51 96 49 37]
 [31  4 99 52 27]
 [13 50 39  1 85]
 [19  9 40 55 47]]
[[1 0 0 0 0]
 [0 1 1 0 1]
 [0 0 1 0 1]
 [0 0 1 1 0]
 [1 1 1 1 1]]
[[82 50 90 45  4]
 [53 96 93 30 19]
 [ 8 95 73 74 98]
 [35 20 32  7 36]
 [56 52 59 26 16]]
[[1 1 0 1 0]
 [0 1 1 0 0]
 [0 1 0 1 0]
 [1 1 0 0 1]
 [1 1 1 0 0]]
[[96 89 34 56 63]
 [61  8 25 90 78]
 [94 26 10 47 84]
 [ 1 32  7 83 73]
 [16 65 69 23 97]]
[[1 1 0 0 0]
 [0 1 0 1 0]
 [1 1 1 1 1]
 [1 0 0 0 1]
 [0 1 1 1 0]]
[[80 82 43 87 70]
 [85 22 53 10  1]
 [30 78 39 26 77]
 [ 7 92 20 21 93]
 [75 36 61 13 90]]
[[1 0 1 1 0]
 [1 0 1 0 0]
 [0 1 1 1 1]
 [0 0 1 0 1]
 [0 1 1 1 1]]
[[51 31 27 28 95]
 [16 50 36 13 57]
 [ 1 11 79 45 90]
 [41 77  3 78 42]
 [56 74 85 44 52]]
[[0 1 0 1 1]
 [1 1 1 1 1]
 [1 1 1 0 1]
 [1 0 1 1 0]
 [0 1 1 0 0]]
[[44 59 87 16 18]
 [31 50 27  9 38]
 [49 10 56 69 35]
 [13 24 91 46 70]
 [22 37  6 43 25]]
[[0 0 1 0 0]
 [1 1 1 1 1]
 [1 0 0 1 0]
 [0 1 0 0 0]
 [1 0 0 1 0]]
[[87 44 72  2 45]
 [82 78 32 64 37]
 [46 75 95 67 80]
 [ 8 60 57 97 56]
 [22 43 92 26 96]]
[[1 1 1 1 1]
 [0 0 1 0 1]
 [1 1 0 0 1]
 [0 0 1 0 0]
 [1 0 1 1 1]]
[[47 86 44 56 74]
 [ 0 96 39 84 54]
 [38 45 68 88 21]
 [11 33 17 52 97]
 [83 58 42 65 81]]
[[1 1 0 0 0]
 [1 0 0 1 0]
 [1 1 0 0 0]
 [1 0 0 0 0]
 [1 0 1 1 0]]
[[61 32 13 42 90]
 [81 22 66 75 51]
 [46  1 41  9 34]
 [86 50 48 64 74]
 [72 85 97 11 71]]
[[0 0 0 0 1]
 [1 0 0 0 1]
 [0 1 0 0 1]
 [1 1 1 0 1]
 [1 0 1 1 1]]
[[20 70 21 58  5]
 [63 29 16 71 45]
 [43  7 26  0 62]
 [24 75  9 87 55]
 [88 10 11 47  4]]
[[1 1 1 1 1]
 [0 1 0 1 0]
 [1 1 0 0 1]
 [0 1 1 1 0]
 [0 0 1 0 1]]
[[77 75 68 32 69]
 [61  9 74 58 44]
 [21 39 94 84 46]
 [14 29 93 31 63]
 [12 72  2 98 40]]
[[0 1 0 1 1]
 [1 0 1 0 0]
 [0 1 1 0 1]
 [1 1 1 0 0]
 [1 1 1 1 1]]
[[96 20  7 81 11]
 [42 17 14 44 36]
 [99 98 68 58 56]
 [15 57 80  3 67]
 [61 66 38 83 59]]
[[0 0 0 0 0]
 [1 1 1 1 1]
 [1 0 1 1 0]
 [1 0 0 1 0]
 [0 0 1 1 0]]
[[19 58 46 56 62]
 [11 72 82  0 12]
 [92  9 70 18 65]
 [35 61 79 87 36]
 [ 1 27 22  8 74]]
[[0 1 0 0 1]
 [0 1 0 0 0]
 [1 1 1 1 1]
 [1 0 0 1 0]
 [0 0 1 0 0]]
[[70  1 80 98 85]
 [73 69 90 63 20]
 [53 77 39 49 64]
 [28  7 78 84 57]
 [56 86 23 88 97]]
[[0 1 1 0 0]
 [1 1 0 1 0]
 [0 1 1 1 0]
 [0 1 1 0 0]
 [0 1 1 0 0]]
[[ 2 93 86 28 43]
 [90 12 21 56 76]
 [98 30 25  9 75]
 [11 20 45 95 50]
 [22 31 39 49  6]]

[[1 1 1 1 1]
 [1 0 1 1 1]
 [0 0 0 1 0]
 [0 1 1 1 1]
 [0 1 1 1 0]]
[[18 53 73 49 40]
 [36 95 46 42 94]
 [97 19 23 72 84]
 [21 47 91  8 17]
 [99 90 68 30 25]]
[[0 0 0 1 1]
 [0 1 1 1 0]
 [1 0 0 1 0]
 [0 0 0 1 0]
 [1 0 1 1 1]]
[[90 24 86 43  1]
 [18 70 89 20  9]
 [44  4 52 65 66]
 [56 17 96 78 67]
 [53 80 32 42 63]]
[[0 0 1 0 1]
 [0 0 1 0 0]
 [0 0 1 1 1]
 [0 0 1 0 0]
 [0 1 1 1 1]]
[[87 79 59 26 35]
 [81 73 36 66 51]
 [97 11 43 17  7]
 [24 94 71 91 48]
 [12 77 93 55 34]]
[[1 1 0 0 1]
 [1 0 1 0 0]
 [0 0 1 1 0]
 [1 0 1 1 1]
 [1 1 1 1 1]]
[[99 11 53 82  3]
 [88 74 42 38 13]
 [94 80 27 92 34]
 [29 56  8 14 76]
 [85 65 66 79 59]]
[[0 1 0 1 1]
 [1 1 0 1 0]
 [1 0 1 1 0]
 [1 0 1 1 1]
 [0 1 0 1 1]]
[[70  1 80 98 85]
 [73 69 90 63 20]
 [53 77 39 49 64]
 [28  7 78 84 57]
 [56 86 23 88 97]]
[[1 1 0 1 0]
 [0 1 0 1 0]
 [1 0 0 1 1]
 [1 1 0 1 1]
 [1 0 0 1 1]]
[[80 82 43 87 70]
 [85 22 53 10  1]
 [30 78 39 26 77]
 [ 7 92 20 21 93]
 [75 36 61 13 90]]
[[1 1 1 0 1]
 [0 0 1 0 1]
 [1 0 0 1 0]
 [0 1 0 1 1]
 [1 1 1 1 1]]
[[92 83 35 65  8]
 [63 71 43 33 19]
 [95 24 51 85 41]
 [66 13 68 12 20]
 [ 7  1 22 40 75]]
[[1 1 1 0 1]
 [1 0 0 1 0]
 [1 1 1 1 0]
 [1 1 1 1 1]
 [0 1 0 0 0]]
[[44 59 87 16 18]
 [31 50 27  9 38]
 [49 10 56 69 35]
 [13 24 91 46 70]
 [22 37  6 43 25]]
[[1 1 1 1 1]
 [1 1 1 1 0]
 [0 1 0 0 0]
 [1 1 0 0 1]
 [1 0 0 0 1]]
[[62 50 33 29 54]
 [92 12 81  0 87]
 [60  2 27  7  9]
 [28 18 31 35 59]
 [20 63 38 72 14]]
[[0 0 1 0 0]
 [1 0 1 0 1]
 [0 1 1 1 0]
 [0 1 1 0 0]
 [1 1 1 0 0]]
[[56 20 35 71 23]
 [51 21 96 42 64]
 [83  1  8 94 55]
 [44 73 76 24 67]
 [81 70  6 61 46]]
[[1 1 1 1 1]
 [0 0 1 1 1]
 [1 0 0 1 0]
 [1 0 0 1 1]
 [0 1 1 0 1]]
[[87 79 59 26 35]
 [81 73 36 66 51]
 [97 11 43 17  7]
 [24 94 71 91 48]
 [12 77 93 55 34]]
[[1 1 0 1 1]
 [0 0 1 1 0]
 [0 0 1 1 0]
 [1 1 0 1 0]
 [0 0 1 1 0]]
[[90 59 93 99 34]
 [85 39 52 16 20]
 [32 66 75 35 17]
 [38 33 84 40 89]
 [91 77 26 86 54]]
[[1 1 1 1 1]
 [1 1 0 1 1]
 [0 1 1 1 0]
 [1 1 1 0 1]
 [1 0 1 1 1]]
[[19 58 46 56 62]
 [11 72 82  0 12]
 [92  9 70 18 65]
 [35 61 79 87 36]
 [ 1 27 22  8 74]]
[[1 1 0 0 1]
 [0 1 0 0 1]
 [1 1 1 1 1]
 [1 1 1 1 0]
 [1 0 0 0 1]]
[[ 9 71 95 12 42]
 [83 90 98 79 49]
 [72  1 53 80 33]
 [29 82 65  4 25]
 [92  5 76 54 66]]
[[1 0 1 0 0]
 [1 1 1 1 0]
 [1 0 0 0 0]
 [1 1 0 0 0]
 [1 1 0 1 0]]
[[24 66 62 30 83]
 [72 80 54 25 17]
 [ 3 77 60 68 36]
 [26 22  8 74 95]
 [63 39  4 53 87]]
[[0 1 1 1 1]
 [0 0 0 1 1]
 [0 1 1 1 0]
 [1 1 1 1 1]
 [0 1 1 1 0]]
[[83  9 94 14 85]
 [65 51 28 32 48]
 [81 71  8 12 31]
 [38 50 92 57 47]
 [34 49 56 73 27]]
[[1 1 1 0 1]
 [0 1 0 1 1]
 [1 1 1 0 1]
 [0 1 1 0 1]
 [1 0 1 1 1]]
[[58 57 47 55  3]
 [38 11 39 15  9]
 [ 5 65 92 98 41]
 [72 45  6 16 83]
 [74 40 99 50 30]]
[[1 1 1 0 1]
 [0 0 0 0 1]
 [1 1 1 1 1]
 [1 1 0 0 0]
 [0 0 1 0 0]]
[[ 5 31 99 96 16]
 [61 37 91 92 23]
 [46  8 36  9 42]
 [ 3 32 49 64 48]
 [15  2 47 53 55]]
[[1 1 1 1 0]
 [0 1 0 0 0]
 [0 1 1 1 0]
 [1 1 0 0 0]
 [0 1 0 1 1]]
[[54  8 72 38 29]
 [34 78 69 16 30]
 [82 24  9  0 13]
 [90 41 60 28 12]
 [71 22 70 80 66]]
[[0 0 0 1 1]
 [1 1 1 1 1]
 [1 1 0 0 0]
 [0 0 1 1 0]
 [0 0 0 1 0]]
[[42 76 14 78 35]
 [49 89  7 81 90]
 [13 18 32 24  9]
 [10 98 12  2 65]
 [82 21 67 70 84]]
[[1 1 1 1 0]
 [1 0 0 1 0]
 [1 0 1 1 0]
 [0 1 1 1 1]
 [0 1 0 1 1]]
[[19 58 46 56 62]
 [11 72 82  0 12]
 [92  9 70 18 65]
 [35 61 79 87 36]
 [ 1 27 22  8 74]]
[[1 1 1 1 0]
 [1 0 1 1 0]
 [1 0 1 0 1]
 [1 1 0 0 1]
 [1 1 1 1 0]]
[[94 67 97 34 75]
 [23 80 68 24 47]
 [56  8 21 66 36]
 [69  5  3 95 17]
 [29 38 44 42 28]]
[[0 0 1 0 1]
 [1 1 0 1 1]
 [0 1 0 1 1]
 [0 0 0 1 1]
 [0 1 0 1 1]]
[[77 34 72 62  4]
 [ 9  8 76 52 60]
 [37 54 98 20 22]
 [11 13 86 48 57]
 [10 63 41 23 61]]
[[1 1 0 0 1]
 [1 1 1 1 0]
 [1 1 1 1 0]
 [1 1 1 1 0]
 [1 0 1 1 0]]
[[16 71 12 76 86]
 [78 26 15 34 45]
 [17 22 20  8  1]
 [51 52 24 90 79]
 [53 40 14 69 21]]
[[0 0 0 1 1]
 [0 1 0 1 1]
 [0 1 0 1 1]
 [1 1 1 1 1]
 [0 0 1 0 0]]
[[26  9 84 35 59]
 [44 47 66  8 48]
 [ 0 82 68 54 58]
 [65  7 28 62 61]
 [55 37 21 72 86]]
[[0 0 1 1 1]
 [0 0 0 1 0]
 [1 1 1 1 1]
 [0 1 1 1 1]
 [0 0 0 0 1]]
[[19 37 39 15 86]
 [53 32 42 57 70]
 [ 9 26 84 93 10]
 [33 25 61 21  0]
 [34 60 30 99  7]]
[[1 0 0 0 1]
 [0 1 0 1 1]
 [0 1 0 0 1]
 [1 1 1 1 1]
 [1 0 0 0 0]]
[[54  8 72 38 29]
 [34 78 69 16 30]
 [82 24  9  0 13]
 [90 41 60 28 12]
 [71 22 70 80 66]]
[[0 0 1 0 0]
 [1 0 1 1 1]
 [1 0 1 0 1]
 [0 0 1 0 0]
 [0 1 1 1 1]]
[[ 3 99 46  7 31]
 [61 43 17 78  4]
 [59 45 47 52 10]
 [55 95 33  9 35]
 [13  8 89 73 12]]
[[1 1 1 1 0]
 [0 1 0 1 1]
 [1 0 0 1 1]
 [1 1 1 1 1]
 [0 1 0 0 1]]
[[50 24 71 22 67]
 [18 80 89 51 90]
 [54 64 31 19 44]
 [61 88 85 25 98]
 [73 69 37 72 39]]
[[1 1 1 1 1]
 [1 0 1 1 0]
 [0 0 1 1 0]
 [1 1 0 1 1]
 [1 1 1 0 1]]
[[44 59 87 16 18]
 [31 50 27  9 38]
 [49 10 56 69 35]
 [13 24 91 46 70]
 [22 37  6 43 25]]
[[1 0 1 0 1]
 [1 0 0 0 1]
 [0 0 1 1 1]
 [0 1 0 0 1]
 [1 0 1 1 1]]
[[20 70 21 58  5]
 [63 29 16 71 45]
 [43  7 26  0 62]
 [24 75  9 87 55]
 [88 10 11 47  4]]
[[1 1 0 1 1]
 [0 1 1 1 1]
 [1 1 1 1 1]
 [0 0 1 1 1]
 [0 1 1 1 0]]
[[90 24 86 43  1]
 [18 70 89 20  9]
 [44  4 52 65 66]
 [56 17 96 78 67]
 [53 80 32 42 63]]
[[0 1 0 1 1]
 [1 0 0 1 1]
 [1 1 1 0 1]
 [1 0 0 1 1]
 [1 1 1 0 1]]
[[56 20 35 71 23]
 [51 21 96 42 64]
 [83  1  8 94 55]
 [44 73 76 24 67]
 [81 70  6 61 46]]
[[1 1 1 1 0]
 [1 1 0 0 1]
 [1 1 1 1 1]
 [0 1 1 1 1]
 [1 1 1 1 0]]
[[58 60 77 25 22]
 [93 97 49  2 41]
 [59 38 95 36 44]
 [30 79 69 54 86]
 [23  4 80 85 27]]
[[1 0 1 1 1]
 [1 0 1 1 1]
 [1 1 1 1 1]
 [1 0 1 0 0]
 [0 1 1 0 0]]
[[28 40 96 38  9]
 [33 11 65 76 13]
 [24 35 20  3 99]
 [95 78 51 74  4]
 [80 14 44 98 58]]
[[1 1 0 0 1]
 [0 1 0 1 1]
 [0 0 1 1 0]
 [1 1 1 1 1]
 [1 1 1 0 1]]
[[36 80 46  9 85]
 [34 17 43 96 57]
 [37  6 33 88 28]
 [59 48 18 22 79]
 [55 52 20  2 61]]
[[0 1 1 1 1]
 [0 1 1 0 1]
 [0 1 0 1 1]
 [0 1 0 1 0]
 [1 1 1 0 0]]
[[80 82 43 87 70]
 [85 22 53 10  1]
 [30 78 39 26 77]
 [ 7 92 20 21 93]
 [75 36 61 13 90]]
[[0 0 0 1 1]
 [0 1 1 1 1]
 [0 1 0 0 1]
 [0 1 1 1 0]
 [1 1 1 1 1]]
[[24 66 62 30 83]
 [72 80 54 25 17]
 [ 3 77 60 68 36]
 [26 22  8 74 95]
 [63 39  4 53 87]]
[[1 1 1 1 1]
 [1 0 1 1 1]
 [1 1 1 0 1]
 [0 1 1 0 0]
 [0 1 0 1 0]]
[[38 98 42 31 40]
 [76  2 77 82 34]
 [92 73 55 93 19]
 [25 58 90 10 68]
 [ 6 56 85 43 95]]
[[1 0 1 1 0]
 [1 0 0 1 0]
 [1 1 1 1 1]
 [1 0 0 0 1]
 [0 1 0 1 0]]
[[94 67 97 34 75]
 [23 80 68 24 47]
 [56  8 21 66 36]
 [69  5  3 95 17]
 [29 38 44 42 28]]
[[1 1 1 1 1]
 [1 1 0 0 1]
 [0 1 0 1 1]
 [0 0 1 1 1]
 [1 1 0 1 0]]
[[83  9 94 14 85]
 [65 51 28 32 48]
 [81 71  8 12 31]
 [38 50 92 57 47]
 [34 49 56 73 27]]
[[1 1 0 1 0]
 [0 0 1 1 1]
 [1 1 1 1 1]
 [1 1 1 0 0]
 [0 1 0 1 1]]
[[71 50 24 86 21]
 [14 92 45 30 95]
 [57 60  0 88 91]
 [87 97  6  7 26]
 [61 98 25  5 84]]
[[0 1 0 0 0]
 [0 1 0 0 0]
 [1 1 1 0 0]
 [0 1 0 0 0]
 [0 1 0 0 0]]
[[25 29 78 57 69]
 [47 51  7 21 82]
 [61 81 99 53 30]
 [50 80 41 94 46]
 [ 9 37 48 71 91]]
[[1 1 0 0 0]
 [0 1 0 0 1]
 [0 1 1 1 1]
 [0 1 1 0 0]
 [1 1 1 1 0]]
[[99 11 53 82  3]
 [88 74 42 38 13]
 [94 80 27 92 34]
 [29 56  8 14 76]
 [85 65 66 79 59]]
[[1 0 1 0 1]
 [1 1 1 1 1]
 [0 1 0 0 1]
 [0 1 0 0 0]
 [0 0 1 0 0]]
[[71 50 24 86 21]
 [14 92 45 30 95]
 [57 60  0 88 91]
 [87 97  6  7 26]
 [61 98 25  5 84]]
[[1 1 1 1 0]
 [0 1 0 0 1]
 [1 1 1 1 1]
 [0 0 1 0 1]
 [0 1 1 0 0]]
[[59 35 52 60 91]
 [75 86 13 39 21]
 [33 99 11 64 50]
 [37 58 71 22 54]
 [ 6 72 88  3 85]]
[[1 0 0 1 0]
 [1 0 0 0 0]
 [1 1 0 0 0]
 [1 0 1 1 1]
 [1 1 1 1 0]]
[[86 52 95 73  6]
 [56 45  8 13 80]
 [28 77 19 59 48]
 [99 33 47 10 85]
 [35 81 27 46 76]]
[[1 0 1 0 0]
 [1 0 0 0 0]
 [1 0 1 1 1]
 [1 1 1 1 1]
 [1 0 1 0 0]]
[[39 10 40 25 52]
 [29 60 38 18 31]
 [65 46 11  0 94]
 [68 12 42  4 84]
 [55 20 86 77 26]]
[[1 1 1 1 1]
 [0 1 1 1 1]
 [0 0 0 1 0]
 [1 0 1 1 1]
 [1 1 0 0 1]]
[[39 10 40 25 52]
 [29 60 38 18 31]
 [65 46 11  0 94]
 [68 12 42  4 84]
 [55 20 86 77 26]]
[[1 0 0 0 1]
 [0 1 0 1 0]
 [1 1 1 1 1]
 [1 0 1 1 0]
 [1 1 0 1 0]]
[[47 25 76 89 61]
 [86 77 71 43 22]
 [42 18 70 24 98]
 [31 68 62 79  9]
 [17 10 78 16 84]]
[[0 0 0 0 1]
 [0 1 0 0 0]
 [1 1 1 1 1]
 [1 0 1 0 0]
 [1 0 1 0 1]]
[[ 9 69 63 68 36]
 [44 31 35 12 39]
 [57 83  6 49 23]
 [64  0 10 85 81]
 [82 40 34 91 24]]
[[0 1 1 1 1]
 [1 0 0 1 1]
 [0 1 0 1 1]
 [0 1 1 1 0]
 [1 0 1 1 1]]
[[ 5 31 99 96 16]
 [61 37 91 92 23]
 [46  8 36  9 42]
 [ 3 32 49 64 48]
 [15  2 47 53 55]]
[[0 0 0 0 1]
 [1 1 0 1 1]
 [0 1 1 1 1]
 [1 0 0 1 1]
 [0 0 0 0 1]]
[[ 5 45 54 82 64]
 [90 89 22 17 71]
 [81 60 65 32 34]
 [41 86 35 30 48]
 [67 47 23 51  6]]
{0: 1, 1: 1, 2: 1, 3: 1, 4: 1, 5: 0, 6: 1, 7: 1, 8: 1, 9: 0, 10: 0, 11: 1, 12: 1, 13: 0, 14: 0, 15: 0, 16: 1, 17: 1, 18: 1, 19: 1, 20: 1, 21: 0, 22: 0, 23: 0, 24: 1, 25: 1, 26: 0, 27: 1, 28: 1, 29: 1, 30: 1, 31: 1, 32: 0, 33: 1, 34: 0, 35: 1, 36: 1, 37: 1, 38: 1, 39: 1, 40: 1, 41: 1, 42: 0, 43: 1, 44: 0, 45: 1, 46: 1, 47: 1, 48: 1, 49: 0, 50: 1, 51: 0, 52: 0, 53: 0, 54: 1, 55: 1, 56: 1, 57: 0, 58: 1, 59: 1, 60: 0, 61: 1, 62: 1, 63: 0, 64: 0, 65: 1, 66: 0, 67: 1, 68: 1, 69: 1, 70: 1, 71: 1, 72: 0, 73: 1, 74: 1, 75: 1, 76: 0, 77: 1, 78: 1, 79: 0, 80: 1, 81: 1, 82: 1, 83: 1, 84: 1, 85: 1, 86: 0, 87: 1, 88: 0, 89: 1, 90: 0, 91: 1, 92: 1, 93: 0, 94: 1, 95: 0, 96: 1, 97: 1, 98: 0, 99: 1} 64

In [ ]:
# Test your function with any one of the following test input files
assert_equal(bingo_first('data/bingo/bingo_input0.txt'),79789)
assert_equal(bingo_first('data/bingo/bingo_input1.txt'),64780)
assert_equal(bingo_first('data/bingo/bingo_input2.txt'),63424)

## Part B (10 points)

We are now interested in finding out which board would win **last**. In the above example, the second board is the last to win, which happens after 13 is eventually called and its middle column is completely marked. If you were to keep playing until this point, the second board would have a sum of unmarked numbers equal to ``148`` for a final score of ``148 * 13 = 1924``.

Write the function ``bingo_last`` that finds which board wins last for a given input file and outputs only the corresponding score (as an ``int``) calculated as detailed above.

In [ ]:
def bingo_last(filename):
    
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
# Test your function with any one of the following test input files
assert_equal(bingo_last('data/bingo/bingo_input0.txt'),1300)
assert_equal(bingo_last('data/bingo/bingo_input1.txt'),35224)
assert_equal(bingo_last('data/bingo/bingo_input2.txt'),23541)

# Philips Hue Data (16 points)
Philips Hue is a line of color changing LED lamps and white bulbs which can be controlled wirelessly. We have been provided a small data set of a Philips Hue user study. This data set contains four columns: `user_id`, `event`, `datetime_stamp` and `value`. The following events are included:

| String               | Description                                               |
-----------------------|------------------------------------------------------------
| `lamp_change`          | Light control via app                                     |
| `nudge_time`           | Automatic light dim time for people in experimental group |
| `bedtime_tonight`      | Intended bedtime (self-reported)                          |
| `risetime`             | Rise time (self-reported)                                 |
| `rise_reason`          | Reason for rising (self-reported)                         |
| `adherence importance` | Adherence (self-reported)                                 |
| `fitness`              | Fitness (self-reported)                                   |

In this exercise, we focus on the `lamp_change` events.

In [5]:
# Run this cell without modifying it to have the correct filename including the subfolder
hue = "data/philips_hue.csv"

## `read_data` (2 points)

In [6]:
def read_data(file):
    """
    Read the data that is stored in the file "data/philips_hue.csv".
    Return a dataframe by using the ``pd.read_csv`` function.
    """
    df = pd.read_csv (file)
    return df
## mismatch index between output and snapshot

In [7]:
# No test available for this function. A snapshot of the first few lines of the dataframe is shown below.
read_data(hue)

      user_id                 event            datetime_stamp value
0          10           lamp_change  29_May_2015_19_08_33_984   OFF
1          10       bedtime_tonight                       NaN  2300
2          10               fitness                       NaN    52
3          10           lamp_change  29_May_2015_19_08_33_942   OFF
4          10           lamp_change  29_May_2015_18_58_00_482   DIM
...       ...                   ...                       ...   ...
3039     9998       bedtime_tonight                       NaN  1653
3040     9998               fitness                       NaN    44
3041     9998              risetime                       NaN  1652
3042     9998           rise_reason                       NaN    ja
3043     9998  adherence_importance                       NaN    67

[3044 rows x 4 columns]

```
 	user_id 	event 	datetime_stamp          	value
0 	10 	lamp_change 	29_May_2015_19_08_33_984 	OFF
1 	10 	bedtime_tonight NaN                      	2300
2 	10 	fitness     	NaN                      	52
4 	10 	lamp_change 	29_May_2015_19_08_33_942 	OFF
6 	10 	lamp_change 	29_May_2015_18_58_00_482 	DIM
```

## `lamp_events` (2 points)

In [8]:
def lamp_events(file):
    """
    Return a dataframe that only consists of events with value "lamp_change".
    """
    df = pd.read_csv(file)
    return df[df['event'] == "lamp_change"]

In [9]:
# No test available for this function. A snapshot of the first few lines of the dataframe is shown below.
lamp_events(hue)

      user_id        event               datetime_stamp value
0          10  lamp_change     29_May_2015_19_08_33_984   OFF
3          10  lamp_change     29_May_2015_19_08_33_942   OFF
4          10  lamp_change     29_May_2015_18_58_00_482   DIM
6          10  lamp_change     29_May_2015_18_58_00_739   OFF
7          10  lamp_change     29_May_2015_19_08_33_816   DIM
...       ...          ...                          ...   ...
3030     9999  lamp_change  06_August_2015_12_19_29_150   OFF
3032     9999  lamp_change  10_August_2015_16_15_28_644   OFF
3033     9999  lamp_change  06_August_2015_12_18_53_785   DIM
3037     9999  lamp_change  06_August_2015_12_19_29_144   OFF
3038     9999  lamp_change  06_August_2015_12_19_30_785   DIM

[1948 rows x 4 columns]

```
    user_id 	event      	datetime_stamp         	value
0 	10 	lamp_change 	29_May_2015_19_08_33_984 	OFF
4 	10 	lamp_change 	29_May_2015_19_08_33_942 	OFF
6 	10 	lamp_change 	29_May_2015_18_58_00_482 	DIM
```

## `lamp_change_values` (2 points)

In [10]:
def lamp_change_values(df):
    """
    Return all unique elements from the "value" column for lamp_change events.
    The return value should be a set.
    """
    return set(df["value"].unique())

In [11]:
df = lamp_events(hue)
assert_equal(lamp_change_values(df), {'DIM', 'OFF', 'ON'})

## `datetime_column` (4 points)

In [120]:
def datetime_column(df):
    """
    Use the dataframe containing only 'lamp_change' events.
    
    Return a new dataframe with a column named "datetime", which is based on the column 
    "datetime_stamp". This new column should contain values that are of type pd.Timestamp,
    which makes datetime-related computations much easier. Moreover, sort the newly obtained 
    dataframe on 1) user_id and 2) datetime.
    
    Hint: The new "datetime" column can be formatted using pd.to_datetime.
    """
    result = df.copy()
    datetime = pd.to_datetime(df["datetime_stamp"], format="%d_%B_%Y_%H_%M_%S_%f")
    result['datetime'] = datetime
    result = result.sort_values(by = ['user_id','datetime'])
    print(result)
    return result

In [121]:
# No full test available for this function. A snapshot of the first few lines of the dataframe is shown below.
# You can use the partial test below to check that the 'datetime' column is indeed of the correct type.
first = datetime_column(lamp_events(hue))['datetime'].iloc[0]
assert_equal(first.year, 2015)
assert_equal(first.month, 5)
assert_equal(first.day, 28)

      user_id        event               datetime_stamp value  \
121         1  lamp_change     28_May_2015_16_25_22_527   DIM
122         1  lamp_change     28_May_2015_16_25_22_581   OFF
123         1  lamp_change     28_May_2015_16_25_22_612   OFF
119         1  lamp_change     28_May_2015_16_25_24_449    ON
117         1  lamp_change     28_May_2015_16_25_29_438   DIM
...       ...          ...                          ...   ...
3007     9999  lamp_change  06_August_2015_12_19_31_007   OFF
3015     9999  lamp_change  10_August_2015_16_15_27_451    ON
3014     9999  lamp_change  10_August_2015_16_15_28_479   DIM
2989     9999  lamp_change  10_August_2015_16_15_28_637   OFF
3032     9999  lamp_change  10_August_2015_16_15_28_644   OFF

                    datetime
121  2015-05-28 16:25:22.527
122  2015-05-28 16:25:22.581
123  2015-05-28 16:25:22.612
119  2015-05-28 16:25:24.449
117  2015-05-28 16:25:29.438
...                      ...
3007 2015-08-06 12:19:31.007
3015 2015-08-10 16:15:27.451
3014 2015-08-10 16:15:28.479
2989 2015-08-10 16:15:28.637
3032 2015-08-10 16:15:28.644

[1948 rows x 5 columns]

```
        user_id 	event 	datetime_stamp          	value 	datetime
276 	1 	lamp_change 	28_May_2015_16_25_22_527 	DIM 	2015-05-28 16:25:22.527
278 	1 	lamp_change 	28_May_2015_16_25_22_581 	OFF 	2015-05-28 16:25:22.581
281 	1 	lamp_change 	28_May_2015_16_25_22_612 	OFF 	2015-05-28 16:25:22.612
272 	1 	lamp_change 	28_May_2015_16_25_24_449 	ON  	2015-05-28 16:25:24.449
270 	1 	lamp_change 	28_May_2015_16_25_29_438 	DIM 	2015-05-28 16:25:29.438
```

## `lamp_times` (6 points)

In [135]:
def lamp_times(df, user_id):
    """
    Use the dataframe obtained from the previous question.
    Return how long a user's lamp has value ON, OFF or DIM.
    The return value should be a tuple (ON, OFF, DIM), where ON, OFF and DIM are of type timedelta.
    """
    #sub df for user_id
    user_info = df[df['user_id'] == user_id].copy()
    #differece between datetimes for every rows
    user_info['diff'] = user_info['datetime'].diff(periods = 1).shift(periods = -1)
    #group by values and sum time
    time = user_info.groupby('value')['diff'].sum().sort_index(ascending = False)

    return tuple(list(time))

In [136]:
answer = (pd.Timedelta('6 days 09:58:20.519000'), 
          pd.Timedelta('7 days 08:20:08.779000'),
          pd.Timedelta('0 days 00:00:03.006000'))

df = correct_datetime_column(lamp_events(hue))
assert_equal(lamp_times(df, 1), answer)

NameError: name 'correct_datetime_column' is not defined

In [137]:
answer = (pd.Timedelta('6 days 09:58:20.519000'), 
          pd.Timedelta('7 days 08:20:08.779000'),
          pd.Timedelta('0 days 00:00:03.006000'))
df = datetime_column(lamp_events(hue))
assert_equal(lamp_times(df, 1), answer)

      user_id        event               datetime_stamp value  \
121         1  lamp_change     28_May_2015_16_25_22_527   DIM
122         1  lamp_change     28_May_2015_16_25_22_581   OFF
123         1  lamp_change     28_May_2015_16_25_22_612   OFF
119         1  lamp_change     28_May_2015_16_25_24_449    ON
117         1  lamp_change     28_May_2015_16_25_29_438   DIM
...       ...          ...                          ...   ...
3007     9999  lamp_change  06_August_2015_12_19_31_007   OFF
3015     9999  lamp_change  10_August_2015_16_15_27_451    ON
3014     9999  lamp_change  10_August_2015_16_15_28_479   DIM
2989     9999  lamp_change  10_August_2015_16_15_28_637   OFF
3032     9999  lamp_change  10_August_2015_16_15_28_644   OFF

                    datetime
121  2015-05-28 16:25:22.527
122  2015-05-28 16:25:22.581
123  2015-05-28 16:25:22.612
119  2015-05-28 16:25:24.449
117  2015-05-28 16:25:29.438
...                      ...
3007 2015-08-06 12:19:31.007
3015 2015-08-10 16:15:27.451
3014 2015-08-10 16:15:28.479
2989 2015-08-10 16:15:28.637
3032 2015-08-10 16:15:28.644

[1948 rows x 5 columns]

# Movielens (24 points)
[Movielens](https://grouplens.org/datasets/movielens/) is a well-known data set for movie ratings. We have stored the classic 100K Movielens data in the `data/movielens/` directory. Here are brief descriptions of the data.
- `u.data`: The user rating data set, 100000 ratings by 943 users on 1682 items. Each user has rated at least 20 movies.  Users and items are numbered consecutively from 1.  The data is randomly ordered. This is a tab separated list of user id | item id | rating | timestamp. The time stamps are unix seconds since 1/1/1970 UTC

- `u.user`: Demographic information about the users; this is a tab separated list of user id | age | gender | occupation | zip code The user ids are the ones used in the u.data data set.

- `u.item`: Information about the items (movies); this is a tab separated list of movie id | movie title | release date | video release date | IMDb URL | unknown | Action | Adventure | Animation | Children's | Comedy | Crime | Documentary | Drama | Fantasy | Film-Noir | Horror | Musical | Mystery | Romance | Sci-Fi | Thriller | War | Western | The last 19 fields are the genres, a 1 indicates the movie is of that genre, a 0 indicates it is not; movies can be in several genres at once. The movie ids are the ones used in the u.data data set.


The goal of this assignment is to analyze the provided Movielens data sets. This exercise consists of seven questions. To help you start, the code below loads each file as dataframe.

In [17]:
# Run this cell without modifying it to correctly import all necessary dataframes
data_dir = 'data/movielens/'

CATEGORIES = ["Action", "Adventure", "Animation", "Children's", "Comedy", "Crime", "Documentary", "Drama", "Fantasy", "Film-Noir", "Horror", "Musical", "Mystery", "Romance", "Sci-Fi", "Thriller", "War", "Western"]
movie_headers = ["movie id", "movie title", "release date", "video release date", "IMDb URL", "unknown"] + CATEGORIES

ratings = pd.read_csv(data_dir + 'u.data', sep='\t', names=['user_id', 'item_id', 'rating', 'timestamp'])
users = pd.read_csv(data_dir + 'u.user', sep='|', names=['age', 'gender', 'occupation', 'zip code'])
movies = pd.read_csv(data_dir + 'u.item', sep='|', index_col=0, encoding='latin-1', names=movie_headers)

## `num_ratings` (2 points)

In [18]:
def num_ratings(ratings):
    """
    Return the number of ratings in the dataset. The return value must be an integer.
    """
    return(len(ratings.index))

In [19]:
assert_equal(num_ratings(ratings[:100]), 100)

## `stats_ratings` (2 points)

In [20]:
def stats_ratings(ratings):
    """
    Return a tuple of the ratings average (float) and variance (float).
    Both values should be rounded to 2 decimal places.
    """
    return((round(ratings['rating'].mean(),2), round(ratings['rating'].std(),2)))

In [21]:
assert_equal(stats_ratings(ratings[:10]), (2.70, 1.25))

## ``num_ratings_user`` (2 points)

In [22]:
def num_ratings_user(ratings, user_id):
    """
    Return the number of ratings for a given user_id.
    """
    user_ratings = ratings[ratings['user_id'] == user_id]
    return(len(user_ratings.index))

In [23]:
assert_equal(num_ratings_user(ratings, 13), 636)

## ``average_per_category`` (4 points)

In [24]:
def average_per_category(ratings, movies, category):
    """
    Return the average ratings for a given movie category.
    Round the value to two decimal places.
    """    
    # sub df for cat
    cat = movies[movies[category] == 1]
    # sub df for rating of choosen cat
    cat_rating = ratings[ratings['item_id'].isin(list(cat.index))]

    return round(cat_rating['rating'].mean(),2)

In [25]:
assert_equal(average_per_category(ratings, movies, 'Fantasy'), 3.22)

## `most_rated_category_occupation` (4 points)

In [112]:
def most_rated_category_occupation(ratings, users, movies, occupation):
    """
    Return the top 5 most rated movie categories for users that
    belong to a given occupation. The returned value should be a list
    of the top five categories in order of decreasing popularity.
    """ 
    # merge dfs based item_id - movie_id and user_id - index
    merged = pd.merge(ratings, movies, left_on = 'item_id', right_on = 'movie id')
    merged = pd.merge(merged, users, left_on = 'user_id', right_on = users.index)
    
    # sub df for choosen occumation
    occ_rating = merged.loc[merged['occupation'] == occupation, CATEGORIES]
    count_cat_rating = pd.DataFrame(occ_rating.sum().sort_values(ascending=False))
    
    return list(count_cat_rating.head().index)

In [113]:
assert_equal(most_rated_category_occupation(ratings[:1000], users, movies, 'engineer'), ['Action', 'Comedy', 'Romance', 'Drama', 'Thriller'])

## `highest_rated_movie_min` (4 points)

In [312]:
def highest_rated_movie_min(ratings, movies, min_n):
    """
    Return the name of the movie with the highest average rating and 
    having at least `min_n` ratings, where `min_n` is an input parameter.
    
    The return value should be the full movie title name including release year,
    e.g., "Toy Story (1995)". This value can be inferred from the 'movie title' 
    column in the movies table.
    """
    #merge
    merged = pd.merge(ratings, movies, left_on = 'item_id', right_on = 'movie id')
    #filter
    min_n_ratings = merged.groupby('movie title').filter(lambda x: len(x) >= min_n)
    
    calculated_rating = min_n_ratings.groupby('movie title')['rating'].agg(['mean','min'])
    return calculated_rating[calculated_rating['mean'] == calculated_rating['mean'].max()].index[0]

In [314]:
assert_equal(highest_rated_movie_min(ratings[:100], movies, min_n=3), "Sabrina (1995)")

## `mismatched_release_date` (6 points)

In [30]:
def mismatched_release_date(movies):
    """
    All movie titles contain the year of release, e.g., Toy Story (1995).
    However, if you pay close attention to some of them, you will notice that
    these years do not always match the values in the "release date" column.
    For example, the last movie is "Scream of Stone (Schrei aus Stein) (1991)"
    whereas the value in the "release date" column is 08-Mar-1996.
    
    Return the number of movies whose release date in the movie title name 
    does not match the date provided in the "release date" column. The returned
    value should be an integer.
    
    Notes
    -----
    - If a movie title name does not contain a release date, or if the release
      date column is empty, then you should ignore the corresponding row entry.
    - Hint: You may assume that every movie title ends with "(YEAR)".
    """
    movies_copy = movies.copy()
    # convert to datetime
    movies_copy["release date"] = pd.to_datetime(movies_copy["release date"])
    title = movies_copy['movie title'].tolist()
    # extra year from title
    movies_copy['title year'] = [int(x[-5:-1]) for x in title]    
    return len(movies_copy[movies_copy["release date"].dt.year != movies_copy['title year']].index)

In [31]:
assert_equal(mismatched_release_date(movies[:20]), 2)

# COVID-19 (20 points)
In this exercise, we use data from the [COVID-19 Data Repository](https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports_us) by the Center for Systems Science and Engineering (CSSE) at Johns Hopkins University and CDC (Centers for Disease Control and Prevention).

We have downloaded all US daily COVID reports from January 2022 till June 2022 and placed it in the `data/covid/` folder.  Each file corresponds to a single day and the documentation of a report can be found [here](https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data#usa-daily-state-reports-csse_covid_19_daily_reports_us). 

This exercise consists of five questions. To help you start, the code below loads each daily report as a dataframe and stores it in a list variable named `dfs`.

In [33]:
import os

def add_date_column(df, date):
    """Add a date column."""
    df['Date'] = date
    return df

data_dir = 'data/covid/'
dfs = [add_date_column(pd.read_csv(data_dir + fi), fi.rstrip('.csv')) for fi in os.listdir(data_dir)]

## `total_population_size` (2 points)

In [34]:
def total_population_size(df):
    """
    The daily reports do not contain data on the population size, but this can
    be inferred from the "Confirmed" and "Incident_Rate" column. 

    Return the total US population size for a given daily report dataframe.
    """
    total_pop = df['Confirmed']*100000/df['Incident_Rate']
    return total_pop.sum()

In [35]:
assert_equal(round(total_population_size(dfs[0])), 331844130)

## `highest_mortality_rate_state` (4 points)

In [36]:
def highest_mortality_rate_state(df):
    """
    Add a 'Mortality_Rate' rate column to a given daily report dataframe.
    The mortality rate is the total number of deaths per 100_000 inhabitants.
    Return the name and the mortality rate of the state with the highest rate.
    Round the mortality rate to 2 decimal places.
    """
    df_copy = df.copy()
    total_pop = df_copy['Confirmed']*100000/df_copy['Incident_Rate']
    df_copy['Mortality_Rate'] = round(df_copy['Deaths']*100000/total_pop,2)
    highest = df_copy.loc[df_copy['Mortality_Rate'] == df_copy['Mortality_Rate'].max()][['Province_State','Mortality_Rate']].values

    return tuple(highest[0])

In [37]:
assert_equal(highest_mortality_rate_state(dfs[42]), ('Mississippi', 363.93))

## `concat_data` (2 points)

In [38]:
def concat_data(dfs):
    """
    Return a single data frame in which all individual data frames are concatenated.
    
    Sort the dataframe on 1) "Date" and 2) "Province_State" column. Also reset the index with drop=True.
    """
    return pd.concat(dfs).sort_values(by = ['Date','Province_State'])

In [39]:
# No test available for this question. A snapshot of the first few lines and columns of the dataframe is shown below.
concat_data(dfs)

,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,FIPS,Incident_Rate,Total_Test_Results,People_Hospitalized,Case_Fatality_Ratio,UID,ISO3,Testing_Rate,Hospitalization_Rate,Date
0,Alabama,US,2022-01-02 04:32:57,32.3182,-86.9023,896614,16455,NaN,NaN,1.0,18286.358765,6547917.0,NaN,1.835238,84000001.0,USA,133544.155483,NaN,01-01-2022
1,Alaska,US,2022-01-02 04:32:57,61.3707,-152.4044,157169,978,NaN,NaN,2.0,21484.529318,3685702.0,NaN,0.622260,84000002.0,USA,503824.371706,NaN,01-01-2022
2,American Samoa,US,2022-01-02 04:32:57,-14.2710,-170.1320,10,0,NaN,NaN,60.0,17.972359,2140.0,NaN,0.000000,16.0,ASM,3846.084722,NaN,01-01-2022
3,Arizona,US,2022-01-02 04:32:57,33.7298,-111.4312,1389708,24354,NaN,NaN,4.0,19092.760441,15633314.0,NaN,1.752454,84000004.0,USA,214781.176408,NaN,01-01-2022
4,Arkansas,US,2022-01-02 04:32:57,34.9697,-92.3731,570641,9180,NaN,NaN,5.0,18909.147181,4429616.0,NaN,1.608717,84000005.0,USA,146782.759914,NaN,01-01-2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53,Virginia,US,2022-06-10 04:32:54,37.7693,-78.1700,1814665,20439,NaN,NaN,51.0,21260.160044,13959714.0,NaN,1.126324,84000051.0,USA,163548.508298,NaN,06-09-2022
54,Washington,US,2022-06-10 04:32:54,47.4009,-121.4905,1600084,12986,NaN,NaN,53.0,21012.560518,NaN,NaN,0.811582,84000053.0,USA,NaN,NaN,06-09-2022
55,West Virginia,US,2022-06-10 04:32:54,38.4912,-80.9545,521543,6998,NaN,NaN,54.0,29101.574815,6375010.0,NaN,1.341788,84000054.0,USA,355719.145807,NaN,06-09-2022
56,Wisconsin,US,2022-06-10 04:32:54,44.2685,-89.6165,1694026,14680,NaN,NaN,55.0,29094.808116,NaN,NaN,0.866575,84000055.0,USA,NaN,NaN,06-09-2022
57,Wyoming,US,2022-06-10 04:32:54,42.7560,-107.3025,159907,1824,NaN,NaN,56.0,27629.289566,1432709.0,NaN,1.140663,84000056.0,USA,247548.461449,NaN,06-09-2022

```
   Province_State Country_Region          Last_Update      Lat     Long_
0         Alabama             US  2022-01-02 04:32:57  32.3182  -86.9023
1          Alaska             US  2022-01-02 04:32:57  61.3707 -152.4044
2  American Samoa             US  2022-01-02 04:32:57 -14.2710 -170.1320
3         Arizona             US  2022-01-02 04:32:57  33.7298 -111.4312
4        Arkansas             US  2022-01-02 04:32:57  34.9697  -92.3731

```

## `deadliest_month` (6 points)

In [40]:
def deadliest_month(dfs, state):
    """    
    Return the month during which the most deaths have occured for the passed-in state.
    The month should be an integer value, where 1 denotes January, 2 denotes February, etc.
    
    Notes
    -----
    - The data starts on 1 January 2022 and ends on 9 June 2022. 
    - To get the death count for a certain day, you need to subtract the "Deaths"
      value for two consecutive days. For example, the number of deaths on January 2nd
      can be counted by subtracting the "Deaths" count of January 2nd with January 1st.
    - We do not consider data for 31 December 2021, hence you may assume that there 
      are 0 deaths on January 1st.            
    """
    
    state_data = concat_data(dfs)[concat_data(dfs)['Province_State'] == state].copy()
    state_data['No_death'] = state_data['Deaths'].diff(periods = 1).fillna(0)
    state_data['Date'] = pd.to_datetime(state_data['Date'])
    state_data['Month'] = state_data['Date'].dt.month
    
    return state_data.groupby('Month')['No_death'].sum().sort_values(ascending = False).index[0]

In [41]:
assert_equal(deadliest_month(dfs, 'Alabama'), 2)

## `daily_number_confirmed` (6 points)

In [42]:
def daily_number_confirmed(dfs, states):
    """
    The daily reports keep track of the aggregate values for the confirmed
    test cases and deaths. Using this data, it is also possible to infer the 
    newly confirmed cases.
    
    Return the day with the highest number of newly confirmed cases 
    for a list of states. The day should be formatted as, e.g., '01-01-2021', 
    with leading zeros for the day and month. This can be inferred from the
    'Date' column.
    
    Notes (similar to previous question)
    ------------------------------------
    - The data starts on 1 January 2022 and ends on 9 June 2022. 
    - To get the newly confirmed cases count for a given day, you need to subtract the 
      "Confirmed" value for two consecutive days. For example, the number of newly confirmed
      cases on January 2nd can be counted by subtracting the "Confirmed" count of January 2nd
      with January 1st.
    - We do not consider data for 31 December 2021, hence you may assume that there 
      are 0 newly confirmed cases on January 1st.            
    """
    #sum of cf for all states on 1 day
    states_data = concat_data(dfs)[concat_data(dfs)['Province_State'].isin(states)].copy()
    for i in states:
        i_cf = states_data[states_data['Province_State'] == i]['Confirmed'].diff(periods = 1).fillna(0)
        states_data.loc[states_data['Province_State'] == i, 'New_confirmed'] = i_cf.values
    
    return states_data.groupby('Date')['New_confirmed'].sum().sort_values(ascending = False).index[0]

In [43]:
assert_equal(daily_number_confirmed(dfs, ['California']), '01-16-2022')
assert_equal(daily_number_confirmed(dfs, ['California', 'Texas', 'New York']), '01-03-2022')

# US Baby names (20 points)
The United States Social Security Administration (SSA) has made data available on the frequency of baby names from 1880 through the present. The US SSA makes the data files once per year, each containing the total number of births for each sex/name combination. The raw archive of these files can be obtained from [here](http://www.ssa.gov/oact/babynames/limits.html). 

Below we ask six questions related to the data set. Moreover, the `names` variable contains a dataframe containing all baby name data from 2000 till 2021 (including). This dataframe will be used for all questions except the first one.

In [44]:
names = pd.read_csv("data/names2000_2021.csv", index_col=0)

## `concat_all_files` (4 points)

In [45]:
def concat_all_files():
    """
    The directory 'data/names/' contains 10 files with data of baby names
    from 1990 to 1999 (including). The goal of this exercise is to turn all these
    text files into a single dataframe. The dataframe should contain four 
    columns named ['name', 'sex', 'births', 'year'], where year indicates the
    year in which the data was published (this is a column you have to add yourself!).
    
    Make sure that the columns 'name' and 'sex' are of type 'string',
    whereas 'birth' and 'year' column are of type 'int'.
    """
    import os
    
    def add_year_column(df, year):
        """Add a date column."""
        df['year'] = year
        return df

    data_dir = 'data/babynames/'
    files = os.listdir(data_dir)
    file_list = [add_year_column(pd.read_csv(data_dir + fi, names = ['name','sex','births']), fi.rstrip('.txt')) for fi in files[1:len(files)-1]]
    return pd.concat(file_list)

In [46]:
concat_all_files()

           name sex  births  year
0         Emily   F   26539  1999
1        Hannah   F   21677  1999
2        Alexis   F   19234  1999
3         Sarah   F   19112  1999
4      Samantha   F   19040  1999
...         ...  ..     ...   ...
26967     Zhane   M       5  1997
26968      Zian   M       5  1997
26969      Ziar   M       5  1997
26970    Zohair   M       5  1997
26971     Zohar   M       5  1997

[263163 rows x 4 columns]

In [47]:
# There is no test available for this question. Instead, you can look
# at an example of the desired output for the years 2000-2021 in the 
# dataframe that is stored in the 'names' variable above, which will
# be used for the remaining questions.
names

          name sex  births  year
0        Emily   F   25957  2000
1       Hannah   F   23085  2000
2      Madison   F   19968  2000
3       Ashley   F   17997  2000
4        Sarah   F   17708  2000
...        ...  ..     ...   ...
32068   Zyheem   M       5  2019
32069    Zykel   M       5  2019
32070   Zyking   M       5  2019
32071      Zyn   M       5  2019
32072    Zyran   M       5  2019

[719773 rows x 4 columns]

## `number_unique_female_names` (2 points)

In [48]:
def number_unique_female_names(names):
    """
    Return the number of unique female names over the entire data set.
    """
    return len(names[names['sex'] == "F"]['name'].unique())

In [49]:
assert_equal(number_unique_female_names(names[:50000]), 25723)

## `most_popular_male_name_year` (2 points)

In [50]:
def most_popular_male_name_year(names, year):
    """
    Return the most popular (i.e., highest birth count) male name for a given year.
    """
    male_year = names[(names['sex'] == "M") & (names['year'] == year)].copy()
    male_year = male_year.sort_values(by = 'births', ascending = False)
    return male_year['name'].iloc[0]

In [51]:
# emily = names[names['name'] == 'Emily' and names['sex'] == 'F']
# emily = emily.sort_values('year')
# change = emily['births'].diff().values()

In [52]:
assert_equal(most_popular_male_name_year(names, 2000), 'Jacob')

## `births_year` (2 points)

In [53]:
def births_year(names, year):
    """
    Return the number of births for a given year.
    """
    birth_per_year = names.groupby('year')['births'].sum()
    return birth_per_year[birth_per_year.index == year].iloc[0]

In [54]:
assert_equal(births_year(names, 2000), 3779380)

## `difference_female_male_births` (4 points)

In [55]:
def difference_female_male_births(names, year):
    """
    Return the difference in the number of female and male births for a given year.
    
    The difference should be given as:
    diff = (the number of female births) - (the number of male births)
    """
    birth_per_year_male = names[names['sex'] == "M"].groupby('year')['births'].sum()
    birth_per_year_female = names[names['sex'] == "F"].groupby('year')['births'].sum()
    diff = birth_per_year_female - birth_per_year_male
    return diff[diff.index == year].iloc[0]

In [56]:
assert_equal(difference_female_male_births(names, 2000), -147960)

## `last_letter_popularity` (6 points)

In [57]:
def last_letter_popularity(names, letter):
    """
    According to baby name researcher Laura Wattenberg, the distribution of male names
    has changed significantly over the last years. In particular, male names ending with
    the letter 'n' have become extremely popular in recent decades [1], whereas names
    ending with 'd' and 'y' have become less popular.
    
    Return the fraction of births of males (relative to the total number of male births over all years) 
    that have a name that ends with the passed-in letter.
    
    References
    ----------
    [1] https://qz.com/1278574/a-large-share-of-us-baby-names-end-with-n-for-some-reason/
    """
    total_male_birth = names[names['sex'] == "M"]['births'].sum()
    end_letter = names[(names['sex'] == "M") & (names['name'].str[-1] == letter)]
    return end_letter['births'].sum()/total_male_birth

In [58]:
assert_equal(round(last_letter_popularity(names, 'b'), 3), 0.019)